#container {
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    max-width: 450px;
    width: inherit;
    
}

.output {
    width: 325px;
    height: 60px;
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8px;
    background-color: lightgrey;
    font-size: large;
}

.num, .ops {
    width: 60px;
    height: 60px;
    font-size: larger;
}

.ops {
    background-color: aqua;
}

.num {
    background-color: lightsalmon;
}

#equal, #decimal {
    width: 60px;
    height: 60px;
    font-size: larger;
    background-color: aqua;
}
#delete, #clear {
    width: 80px;
    height: 40px;
    font-size: larger;
    background-color: lightgoldenrodyellow;
}

.top-row {

    display: flex;
    justify-content: space-evenly;

}
#calculator {
    display: flex;
    max-width: 450px;
    flex-direction: column;
    border: 1px solid black;
    width: 350px;
   
}


.calculator-buttons {
    display: flex;
    justify-content: center;
    width: inherit;
}
.display {
    
    border: 8px solid lightgreen;
    
    
}

body {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    
}
.top-digits, .mid-digits, .bot-digits, .bot-row {
    display: flex;
    gap: 17px;
    margin: 8px;
    justify-content: space-around;
}
